# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Vim history file
*.netrwhist
*~

# Vim spell file (binary)
*.spl

# Tmux plugin manager
.tmux/plugins/*
!.tmux/plugins/tpm

# Tmux saved sessions
.tmux/resurrect

# MacOS
.DS_Store
