snippet hkust
The Hong Kong University of Science and Technology
endsnippet

snippet depmath
Department of Mathematics
endsnippet

snippet {{{ "Folding marker in vim" b
# {{{ $1
$0
# }}} End $1
endsnippet

snippet fdm "Set fold method" b
# vim: foldmethod=${1:marker}
endsnippet

